.voter {
    text-align: center;
    color: #999;
}

.vote-count {
    font-size: 1.2em;
}

.vote-button {
    cursor: pointer;

}

.highlighted {
    font-weight: bold;
    color: orange;
}
i.glyphicon-menu-up:after{
	content: '  up   ';
}
i.glyphicon-menu-down:after{
	content: '  down   ';
}